*{
    margin: 0;
    padding: 0;
}
.calculator{
    width: 300px;
    height: 500px;
    background-color: #5d5b5b;
    border-radius: 5px;
    margin: 100px auto;
    box-shadow: 0 0 5px #ccc ;
    padding: 20px;
}
#screen{
    width: 100%;
    height: 50px;
    font-size: 30px;
    text-align: right;
    padding: 5px;
    border: 1px solid red;
    border-radius: 5px;
}
.btn{
    width: 60px;
    height:60px;
    background-color: rgb(223, 218, 218);
    font-size: 25px;
    border-radius: 20px;
    border: none;
    color: rgb(108, 6, 6);
    cursor: pointer;
}

.clear{
    background-color: red;
}
.equal{
    background-color: green;
    color: white;
}
.oper{
    background-color: rgb(135, 240, 152);
    color: black;
}
.del{
    background-color: orange;
}
.sqr{
    background-color: aqua;
}
.buttons{
    display: flex;
    margin-top: 50px;
}

.num{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
 }
 .operators{
    display: flex;
    flex-direction: column;
    gap: 10px;
 }